{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Sign In</h5>
        <form class="form-signin" action="/login" method="post">
          <div class="form-label-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="username">Username</label>
          </div>

          <div class="form-label-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <label for="password">Password</label>
          </div>

          {% if error is defined %}
              <div class="alert alert-danger rounded mr-2" role="alert">{{ error }}</div>
          {% endif %}
          <input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="Sign in">
        </form>
      </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Don't have an account? &nbsp; <a href="/register">Sign Up</a>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
